.homepage-container {
  background-color: rgba(255, 255, 255, 1);
  padding: 1.8rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}
.navbar input {
  background: #ffffff;
  border: 1px solid #e3eded;
  box-sizing: border-box;
  border-radius: 2px;
  height: 40px;
  width: 400px;
  padding-left: 3rem;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
}
.searchIcon {
  position: absolute;
  left: 1.5%;
}
.user {
  border-radius: 50%;
  vertical-align: bottom;
  margin-left: 0.8rem;
}
.overview-container h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #110b56;
}
.overview-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.overview-item .overview {
  border-radius: 2px;
  padding: 1rem;
}

.overview-item .overview p {
  margin: 0.3rem;
  color: #110b56;
}
.overview-item .overview .title {
  font-size: 15px;
  line-height: 19px;
  font-weight: normal;
  margin-bottom: 1rem;
  font-weight: normal;
}

.overview-item .overview .number {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}
.overview-item .overview .green {
  font-size: 12px;
  line-height: 15px;
  color: #50b83c;
}
.overview-item .overview .red {
  font-size: 12px;
  line-height: 15px;
  color: #f52d56;
}
.overview-item .overview .time {
  color: #919eab;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.homepage-container .table-side {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
}
